/* styles.css */

/* light mode */
:root {
    --fg-color: #eceff4;
    --bar-color: #2e3440;
    --el-color: #434c5e;
    --bg-color: #d8dee9;
    --accent-color: #5e81ac;
    --yes-color: #a3be8c;
    --shadow-color: #01010180;
}

/* dark mode */
:root {
    --dark-fg-color: #a1c8bb;
    --dark-bar-color: #121212;
    --dark-el-color: #121212;
    --dark-bg-color: #282828;
    --accent-color: #5e81ac;
    --dark-yes-color: #19846c;
    --dark-shadow-color: #01010180;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #0077cc;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #005fa3;
}

nav ul.navbar li {
    margin: 0 15px;
}

nav ul.navbar li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul.navbar li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    color: #005fa3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0077cc;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #0077cc;
}

a:hover {
    color: #005fa3;
}
